*{
    box-sizing: border-box;
}
.card {
    padding:5px 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(83,83,255,1) 100%);
    color: white;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-line img{
    width:25px;
    height: 28px;
    margin-top:30px;
    margin-right: 10px;
    z-index: 2;
}
.p1{
    font-size: 18px;
}
.p2{
    font-size: 28px;
    font-weight: 600;
}

.card::before{
    left: 275px;
    top: 0px;
    width:170px;
    height: 170px;
    border-radius: 100%;
    background-color: rgba(107, 171, 255, 0.618);
    display: block;
    position: absolute;
    content: '';
}
.card::after{
    width:170px;
    height:170px;
    left: 230px;
    top:110px;
    border-radius: 100%;
    background-color: rgba(107, 171, 255, 0.618);
    display: block;
    position: absolute;
    content: '';
}